html, body {
    height: 100%;
  }
  
  body {
    margin: 0;
    background: #f1f1f1;
    display: grid;
    place-items: center;
    grid-auto-rows: auto;
  }
  
  
  .gallery {
    display: flex;
    width: 1600px;
    height: 800px;
  }
  
  .gallery img {
    min-width: 0;
    flex: 1 1 10px;
    object-fit: cover;
    opacity: 0.5;
    transition: 0.5s;
  }
  
  .gallery img:hover {
    flex: 1 2 800px;
    opacity: 1;
  }